.main-show
  = render ('modules/header')
  %h1 User details page
  .main-show-content
    -# %h3= @user.nickname
    %h2 List of posts
    %ul
      - @posts.each do |post|
        %li
          %a{:href => "/users/#{post.user.id}"}
          %a{:href => "/posts/#{post.id}"}= post.content
          (#{post.liked_users.count})
  = paginate(@users)

  = render ('modules/footer')