.main-show
  = render ('modules/header')
  %h1 Post details
  .main-show-content
    -# %h3= @post.user.email
    -# %h3= @post.content
    -# %h3
    -#   いいね件数: #{@post.likes.count}
    .review__like
      - if user_signed_in?
        - if Like.where(user_id: current_user.id, post_id: @post.id)
          = link_to "/likes/#{@post.id}/destroy",{method: :post} do
            %span.fa.fa-heart.like-btn-unlike{data: {post_id: @post.id}}
        - else
          = link_to "/likes/#{@post.id}/create",{method: :post} do
            %span.fa.fa-heart.like-btn{data: {post_id: @post.id}}
      .likes.count
        = @likes_count

    -# %h2 Liked Users
    -# - @post.liked_users.each do |user|
    -#   %li= user.nickname
    - if user_signed_in? && current_user.id == @post.user_id
      = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
  = render ('modules/footer')